
  <style>
    body {
        background-color: #000;
        color: #fff;
        font-family: Arial, sans-serif;
        text-align: center;
        padding: 50px;
    }
    #content {
        max-width: 800px;
        margin: 0 auto;
    }
    #message {
        font-size: 24px;
        margin-top: 20px;
    }
    img {
        max-width: 100%;
        max-height: 100%;
        filter: invert(1);
    }
  </style>

  <div id="content">
    <img src="https://avatars.githubusercontent.com/u/107588166?s=400&u=9a0a0991f7cc468558d697f9ecb25626d45072c1&v=4" style="width:400; padding: 10px;">
    <p id="message"> SPARTAN INDUSTRIAL 2.0 </p>
    <p>WELCOME TO SPARTAN INDUSTRIAL WEB MANAGER! RUNNING UNIT: <S&= name_system /></p>
  </div>


