<div class="main-content">
  <h1>Security</h1>

  <div class="mini-card sub-card" style="width: 86%;">
    <h2>SET System Password</h2>
    <br>
    <form id="form_user_passwd" action="/admin/security" method="POST">
      <label for="password">System Password: </label>
      <input type="password" id="password" name="password">
      <br><br>
      
      <label for="system_token">System TOKEN: </label>
      <input type="password" id="system_token" name="system_token" value="<S&= system_token_name_tag />"
        onfocusout="document.getElementById('system_token').type = 'password';"
        onfocusin="document.getElementById('system_token').type = 'text';"
        style="width:100%;"
      >
      <br><br>
      
      <input type="submit" value="Submit" class="button">
    </form>
  </div>

</div>